<!DOCTYPE html>
<html>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>IT Support</title>
  <style>
    * {
      box-sizing: border-box;
      padding: 0;
      margin: 0;
    }

    @media only screen and (max-width: 767px) {
      .email-page {
        padding: 15px 25px !important;
      }
      .logo img {
        width: 200px;
      }
      .banner2 h4 {
        font-size: 20px !important;
      }
      .banner2 h4 span {
        font-size: 15px !important;
      }
      .banner2 h4 img {
        width: 42px !important;
      }
    }
  </style>
  <body
    style="
      font-family: sans-serif;
      letter-spacing: 1px;
      line-height: 1.4;
      margin: 0;
      padding: 18px;
      background: #f0f0f0;
    "
  >
    <div
      style="
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        max-width: 600px;
        margin: 0 auto;
        padding: 0px 15px 15px;
        background: #ffffff;
        color: #666;
        border-radius: 25px;
        box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.103884);
      "
    >
      <table
        align="center"
        border="0"
        cellpadding="0"
        cellspacing="0"
        style="width: 100%"
      >
        <tr>
          <td style="padding: 35px 0; text-align: center">
            <div style="width: 250px; margin: 0 auto">
              <img
                style="max-width: 100%"
                src=""
              />
            </div>

            <p
              style="
                font-size: 16px;
                color: #2f6f98;
                font-weight: 600;
                margin-top: 10px;
              "
            >
              Welcome to IT Support Portal
            </p>
          </td>
        </tr>
        <tr>
          <td style="padding: 15px; text-align: left">
            <p style="margin: 0; margin-bottom: 10px; font-weight: 600">
              Hello Folk's
            </p>
            <p style="margin: 0; margin-bottom: 5px">
              A request has been received to change the password.
            </p>
          </td>
        </tr>
        <tr>
          <td style="text-align: center; padding: 20px 0">
            <a
              style="
                display: inline-block;
                min-width: 150px;
                text-decoration: none;
                font-size: 14px;
                padding: 10px 20px;
                color: #fff;
                background: #1e88e5;
                border-radius: 4px;
                white-space: nowrap;
                text-transform: uppercase;
              "
              href="__Host__/forgotpassword/__USERID__/__SETUSERTOKEN.VERIFYTOKEN__"
              >Click Here
            </a>
          </td>
        </tr>
        <tr>
          <td style="padding: 15px; text-align: left">
            <p style="margin: 0; margin-bottom: 5px; font-weight: 600">
              Thank you
            </p>
            <p style="margin: 0; margin-bottom: 5px; font-weight: 600">
              The IT Team
            </p>
          </td>
        </tr>
      </table>
    </div>
  </body>
</html>
