.pagination-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  background-color: #f8f9fa;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.btn-custom {
  background-color: #007bff;
  color: #ffffff;
  border: 1px solid #007bff;
  border-radius: 3px;
  padding: 8px 16px;
  cursor: pointer;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.btn-custom:hover {
  background-color: #0056b3;
  border-color: #0056b3;
}

.commentText {
    
}

.deleteButton {
  background: none;
  border: none;
  cursor: pointer;
}
